/* --------------------------------------------- MAIN */

.main_container {
    height: 98%;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--content-color);

    transition: 
        background-color (--transition-duration) var(--transition-type);
}

.main_data {
    height: 95%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition:
        all var(--transition-duration) var(--transition-type);
}

.main_data_title {
    height: 50%;
    font-size: 15vw;
    color: var(--title-color);
    display: flex;
    align-items: center;
}

.main_data_message {
    height: 20%;
    font-size: 3dvh;
    color: var(--subtitle-color);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.main_data_error {
    height: 10%;
    font-size: 3dvh;
    color: var(--supertext-color);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.main_data_button {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main_icon {
    height: 95%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition:
        all var(--transition-duration) var(--transition-type);
}

.main_icon span {
    font-size: 25vw;
    animation: flip 5s linear infinite;
}

/* -------------------------------------------------- MEDIA */

@media (max-width: 800px) {
    .main_container {
        flex-direction: column;
    }

    .main_data {
        height: 70%;
        width: 100%;
        padding-inline: 5vw;
    }

    .main_data_title {
        font-size: 15dvh;
    }

    .main_data_message {
        height: 25%;
    }

    .main_data_button {
        height: 10%;
        justify-content: space-evenly;
    }

    .main_icon {
        height: 15%;
        width: 100%;
    }

    .main_icon span {
        font-size: 15dvh;
    }
    
}