<!DOCTYPE html>
<html lang="en">

    <head>

        <title>KPI Live</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta name="theme-color" content="#101010">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">

        <link rel="stylesheet" type="text/css" href="/Static/home/styles.css">
        <link rel="stylesheet" type="text/css" href="/Static/template.css">

    </head>

    <body>

        <header class="header">
            <span class="header_logo">
                <div class="header_logo_">
                    <img src="/Static/DIDA.png" alt="DIDAGROUP Logo" id="dida_logo">
                </div>
            </span>
            <p class="header_wh">DIDA</p>
            <p class="header_re">GROUP</p>
        </header>

        <main id="main_content">

            <div class="main_menu_ghost">

                <nav class="main_menu">
                    <div class="main_menu_title" title="Main menu">
                        <span class="symbols"> &#xe5d2; </span>
                        <p>Menu</p>
                    </div>
    
                    <div class="main_menu_company">
                        <span class="main_menu_company_logo" title="Company logo">
                            <div class="main_menu_company_logo_">
                                <img src="" alt="Company Logo" id="company_logo">
                            </div>
                        </span>
                        <p title="Company name" id="company_name">Company Name</p>
                    </div>
    
                    <div class="main_menu_session" id="open_session_prompt">
                        <span class="symbols" title="Log in"> &#xea77; </span>
                        <p title="Log in">Log in</p>
                    </div>
    
                    <ul class="main_menu_devices" id="main_menu">
                    </ul>

                    <ul class="main_menu_functions">
                        <li class="main_menu_function_gral" title="Select page to go" id="pages_button">
                            <span class="symbols"> &#xe069; </span>
                            <p>Go to</p>
                        </li>

                        <li class="main_menu_function_theme" title="Toggle To Light Mode" id="theme-toggler">
                            <div class="main_menu_function_theme_light">
                                <span class="symbols"> &#xe430; </span>
                                <p>Light</p>
                            </div>
    
                            <div class="main_menu_function_theme_dark">
                                <span class="symbols"> &#xef44; </span>
                                <p>Dark</p>
                            </div>
                        </li>

                        <li class="main_menu_function_time" title="Current time">
                            <span class="symbols"> &#xe307;</span>
                            <p id="current_time">12:00 a. m.</p>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="main_content">
                <div class="main_content_cards">
                    <div class="main_content_card" title="Units produced">
                        <span id="card_produced">0</span>
                        <p>Produced</p>
                    </div>

                    <div class="main_content_card" title="Units accepted">
                        <span id="card_accepted">0</span>
                        <p>Accepted</p>
                    </div>

                    <div class="main_content_card" title="Units reworked">
                        <span id="card_reworked">0</span>
                        <p>Reworked</p>
                    </div>

                    <div class="main_content_card" title="Units for scrap">
                        <span id="card_scrap">0</span>
                        <p>Scrap</p>
                    </div>
                </div>

                <div class="main_content_graphic" id="kpi_graph">
                </div>

                <div class="main_content_indicators">

                    <div class="main_content_indicators_item indicators_item-active" id="OEE_B" title="OEE Indicator (Clic to view graphic)">
                        <div class="donut" id="oee_value" data-percent="0">
                            <svg viewBox="0 0 36 36">
                            <path class="bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="meter" stroke-dasharray="0, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="percentage">0.00%</text>
                            </svg>
                            <p>OEE</p>
                        </div>
                    </div>

                    <div class="main_content_indicators_item" id="DIS_B" title="Disponibility Indicator (Clic to view graphic)">
                        <div class="donut" id="dis_value" data-percent="0">
                            <svg viewBox="0 0 36 36">
                            <path class="bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="meter" stroke-dasharray="0, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="percentage">0.00%</text>
                            </svg>
                            <p>Disponibility</p>
                        </div>
                    </div>

                    <div class="main_content_indicators_item" id="PER_B" title="Performance Indicator (Clic to view graphic)">
                        <div class="donut" id="per_value" data-percent="0">
                            <svg viewBox="0 0 36 36">
                            <path class="bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="meter" stroke-dasharray="0, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="percentage">0.00%</text>
                            </svg>
                            <p>Performance</p>
                        </div>
                    </div>

                    <div class="main_content_indicators_item" id="QUA_B" title="Quality Indicator (Clic to view graphic)">
                        <div class="donut" id="qua_value" data-percent="0">
                            <svg viewBox="0 0 36 36">
                            <path class="bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="meter" stroke-dasharray="0, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="percentage">0.00%</text>
                            </svg>
                            <p>Quality</p>
                        </div>
                    </div>

                </div>                
            </div>

            <div class="main_data_ghost">
                <nav class="main_data">

                    <div class="main_data_navegator">
                        <ul class="main_data_nav">
                            <li title="General Data" class="main_data_nav_option main_data_nav_option-active" id="gen_nav">Gen</li>
                            <li title="Disponibility Data" class="main_data_nav_option" id="dis_nav">Dis</li>
                            <li title="Performance Data" class="main_data_nav_option" id="per_nav">Per</li>
                            <li title="Quality Data" class="main_data_nav_option" id="qua_nav">Qua</li>
                        </ul>

                        <div class="main_data_window">
                            
                            <div class="main_data_window_gen main_data_window-active" id="gen_win">
                                <div class="main_data_window_title">
                                    <p>General Data</p>
                                </div>

                                <div class="main_data_window_data">

                                    <div class="main_data_window_device_state">
                                        <div class="main_data_window_device_status" title="Current device mode">
                                            <span id="monitoring_span" class="symbols"> &#xe30a; </span>
                                            <p id="monitoring_p">Stand by</p>
                                        </div>

                                        <div class="main_data_window_device_status" title="Current device connection">
                                            <span id="online_span" class="symbols"> &#xe875; </span>
                                            <p id="online_p">Offline</p>
                                        </div>
                                    </div>

                                    <div class="main_data_window_device_state">
                                        <div class="main_data_window_device_status" title="Power Supply Status">
                                            <span id="power_span" class="symbols"> &#xe646; </span>
                                            <p id="power_p">Power Supply</p>
                                        </div>

                                        <div class="main_data_window_device_status" title="Battery Status">
                                            <span id="battery_span" class="symbols"> &#xe19c; </span>
                                            <p id="battery_p">Battery</p>
                                        </div>
                                    </div>

                                    <div class="main_data_window_device_state">
                                        <div class="main_data_window_device_status" title="Current interface connection">
                                            <span id="interface_span" class="symbols"> &#xe30a; </span>
                                            <p id="interface_p">Interface</p>
                                        </div>

                                        <div class="main_data_window_device_status" title="Current TCP connection">
                                            <span id="tcp_span" class="symbols"> &#xe307; </span>
                                            <p id="tcp_p">Remote</p>
                                        </div>
                                    </div>

                                    <div class="main_data_window_item">
                                        <p>IP:</p>
                                        <span title="Device IP" id="ip">0.0.0.0</span>
                                    </div>
                                    
                                    <div class="main_data_window_item" title="Machine monitored">
                                        <p>Machine:</p>
                                        <span id="machine">-</span>
                                    </div>

                                    <div class="main_data_window_item" title="Worker in machine">
                                        <p>Worker:</p>
                                        <span id="worker">-</span>
                                    </div>

                                    <div class="main_data_window_item" title="Order loaded">
                                        <p>Order:</p>
                                        <span id="order">-</span>
                                    </div>

                                    <div class="main_data_window_item" title="Product in production">
                                        <p>Product:</p>
                                        <span id="product">-</span>
                                    </div>

                                    <div class="main_data_window_item" title="Group in production">
                                        <p>Group:</p>
                                        <span id="group">-</span>
                                    </div>

                                    <div class="main_data_window_item" title="Client in production">
                                        <p>Client:</p>
                                        <span id="client">-</span>
                                    </div>

                                </div>
                            </div>

                            <div class="main_data_window_dis" id="dis_win">
                                <div class="main_data_window_title">
                                    <p>Disponibility</p>
                                </div>

                                <div class="main_data_window_data">

                                    <div class="main_data_window_item" title="Time monitored">
                                        <p>Monitoring Time:</p>
                                        <span id="monitoring_time">--:--:--</span>
                                    </div>
                                    
                                    <div class="main_data_window_item" title="Current machine state">
                                        <p>Live State:</p>
                                        <span id="state">D-- -</span>
                                    </div>

                                    <div class="main_data_window_item" title="Last state change time">
                                        <p>Last Change at:</p>
                                        <span id="event">--:--:--</span>
                                    </div>
                                    
                                    <div class="main_data_window_item" title="Time at monitoring started or finished">
                                        <p id="start_cease_p">Started at:</p>
                                        <span id="start_cease">--:--:--</span>
                                    </div>

                                    <div class="main_data_window_item" title="List of reliefs">
                                        <p>Reliefs:</p>
                                        <span id="reliefs">-</span>
                                    </div>

                                    <div id="window_statecounters" class="main_data_window_statecounters">

                                        <div id="codes_code" class="main_data_window_statecounters_column">
                                        </div>
                        
                                        <div id="codes_time" class="main_data_window_statecounters_column">
                                        </div>
                        
                                        <div id="codes_proportion" class="main_data_window_statecounters_column">
                                        </div>
                        
                                        <div id="codes_name" class="main_data_window_statecounters_column">
                                        </div>
                        
                                    </div>

                                </div>
                            </div>

                            <div class="main_data_window_per" id="per_win">
                                <div class="main_data_window_title">
                                    <p>Performance</p>
                                </div>

                                <div class="main_data_window_data">

                                    <div class="main_data_window_item" title="Standard cycles per hour">
                                        <p>Standard Cycle:</p>
                                        <span id="standard">0 C/Hr</span>
                                    </div>

                                    <div class="main_data_window_item" title="Measured cycles per hour">
                                        <p>Measured Cycle:</p>
                                        <span id="measured">0 C/Hr</span>
                                    </div>

                                    <div class="main_data_window_graph" id="msr_graph">
                                    </div>

                                    <div class="main_data_window_item" title="Units produced per cycle">
                                        <p>Cavities:</p>
                                        <span id="cavities">0 U/C</span>
                                    </div>

                                    <div class="main_data_window_item" title="Units produced">
                                        <p>Units Produced:</p>
                                        <span id="produced">0 U</span>
                                    </div>

                                    <div class="main_data_window_item" title="Units to produce by time producing">
                                        <p>Units To Produce:</p>
                                        <span id="toproduce">0 U</span>
                                    </div>
                                    
                                    

                                </div>
                            </div>

                            <div class="main_data_window_qua" id="qua_win">
                                <div class="main_data_window_title">
                                    <p>Quality</p>
                                </div>

                                <div class="main_data_window_data">

                                    <div class="main_data_window_item" title="Units accepted">
                                        <p>Units Accepted:</p>
                                        <span id="accepted">0 U</span>
                                    </div>

                                    <div class="main_data_window_item" title="Units Reworked">
                                        <p>Units Reworked:</p>
                                        <span id="reworked">0 U</span>
                                    </div>

                                    <div class="main_data_window_item" title="Units defective">
                                        <p>Units Defective:</p>
                                        <span id="defective">0 U</span>
                                    </div>

                                    <div class="main_data_window_item" title="Units contaminated">
                                        <p>Units Contaminated:</p>
                                        <span id="contaminated">0 U</span>
                                    </div>

                                    <div class="main_data_window_item" title="Units due machine adjustment">
                                        <p>Units due Adjust:</p>
                                        <span id="adjust">0 U</span>
                                    </div>

                                    <div class="main_data_window_production">

                                        <div id="production_time" class="main_data_window_production_column">
                                            <p>Time</p>
                                            <p>--:--:--</p>
                                        </div>

                                        <div id="production_worker" class="main_data_window_production_column">
                                            <p>Worker</p>
                                            <p>-</p>
                                        </div>

                                        <div id="production_produced" class="main_data_window_production_column">
                                            <p>Produced</p>
                                            <p>0</p>
                                        </div>

                                        <div id="production_accepted" class="main_data_window_production_column">
                                            <p>Accepted</p>
                                            <p>0</p>
                                        </div>

                                        <div id="production_reworked" class="main_data_window_production_column">
                                            <p>Reworked</p>
                                            <p>0</p>
                                        </div>

                                        <div id="production_defective" class="main_data_window_production_column">
                                            <p>Defective</p>
                                            <p>0</p>
                                        </div>

                                        <div id="production_contaminated" class="main_data_window_production_column">
                                            <p>Contaminated</p>
                                            <p>0</p>
                                        </div>

                                        <div id="production_adjust" class="main_data_window_production_column">
                                            <p>Adjust</p>
                                            <p>0</p>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="main_data_inputs" title="Current inputs state">
                        <span class="symbols" id="input_0"> &#xe837; </span>
                        <span class="symbols" id="input_1"> &#xe837; </span>
                        <span class="symbols" id="input_2"> &#xe837; </span>
                        <span class="symbols" id="input_3"> &#xe837; </span>
                        <span class="symbols" id="input_4"> &#xe837; </span>
                        <span class="symbols" id="input_5"> &#xe837; </span>
                    </div>

                    <div class="main_data_complements">

                        <ul class="main_data_complements_nav">
                            <li title="Events list" class="main_data_complements_option main_data_complements_option-active" id="events_nav">Events</li>
                            <li title="States list" class="main_data_complements_option" id="states_nav">States</li>
                        </ul>

                        <div class="main_data_complements_main">

                            <div class="main_data_events_container main_data_complement-active" id="events_win">
                                <div id="events_time" class="main_data_events_container_column">
                                </div>
    
                                <div id="events_event" class="main_data_events_container_column">
                                </div>
                            </div>

                            <div class="main_data_states_container" id="states_win">
                                <div id="states_time" class="main_data_states_container_column">
                                </div>

                                <div id="states_worker" class="main_data_states_container_column">
                                </div>
    
                                <div id="states_state" class="main_data_states_container_column">
                                </div>

                                <div id="states_name" class="main_data_states_container_column">
                                </div>
                            </div>

                        </div>

                    </div>

                </nav>

                <p class="main_data_hidden">Device Information</p>
            </div>

        </main>

        <footer>
            <p>SERVER</p>
        </footer>

        <aside id="menu_pages" class="submenu_pages">
            <ul class="submenu_pages_list" id="pages_list">
                <li class="submenu_pages_item" title="Monitoring Page">
                    <span class="symbols"> &#xe335; </span>
                    <p>Monitoring</p>
                </li>

                <li class="submenu_pages_item" title="Consult Page">
                    <span class="symbols"> &#xe265; </span>
                    <p>Consult</p>
                </li>

                <li class="submenu_pages_item" title="Senders Page">
                    <span class="symbols"> &#xe8c7; </span>
                    <p>Senders</p>
                </li>

                <li class="submenu_pages_item" title="QR Generator Page">
                    <span class="symbols"> &#xef6b;</span>
                    <p>QR Codes</p>
                </li>

                <li class="submenu_pages_item" title="Admin Page">
                    <span class="symbols"> &#xe7fd; </span>
                    <p>Admin</p>
                </li>
            </ul>
        </aside>

        <aside id="main_menu_dark" class="main_menu_dark">
            <div class="main_menu_dark_box">
            </div>
        </aside>

        <aside id="session_prompt" class="prompt_session">
            <div class="session_content">

                <div class="session_header">
                    <span id="close_session_prompt" class="symbols">&#xe5cd;</span>
                </div>

                <div class="session_main">

                    <div class="session_main_message">
                        <p id="prompt_message">Sign in</p>
                    </div>

                    <div class="session_main_icon">
                        <span class="symbols"> &#xe7fd; </span>
                    </div>

                    <form action="" class="session_main_form" id="form_login">

                        <div class="session_main_form_inputs" id="form_inputs">

                            <div class="session_main_form_input">
                                <label class="input_label" for="user_email" title="Enter email">Email:</label>
                                <input class="input" id="user_email" type="email" name="email" placeholder="email@domain.com" autocomplete="off">
                                <p class="input_error" id="user_email_error">Email sintax error</p>
                            </div>
        
                            <div class="session_main_form_input">
                                <label class="input_label" for="user_pass" title="Enter password">Password:</label>
                                <input class="input" id="user_pass" type="password" name="password" placeholder="password" autocomplete="off">
                                <p class="input_error" id="user_pass_error">Pass may content 8-16 chars</p>
                            </div>

                        </div>

                        <div class="session_main_form_button">
                            <button class="button" id="login_button" type="submit" disabled title="User session">Log in</button>
                        </div>

                    </form>
                    
                </div>
                
                <div class="session_footer">
                    <span class="symbols session_footer_spinner" id="prompt_loader"> &#xe627;</span>
                    <p class="session_footer_message" id="prompt_response">Session Required</p>
                </div>

            </div>
        </aside>

        <aside id="prompt_sync" class="prompt_sync">
            <div class="prompt_sync_content">
                <span class="symbols">&#xe86a;</span>
                <p id="prompt_sync_text">Waiting session</p>
            </div>
        </aside>

        <aside id="notification0" class="notifications notification-inactive">
            <div class="notification_content">
                <div class="notification_icon">
                    <span id="notification0_icon" class="symbols"> &#xe002; </span>
                </div>

                <div class="notification_main">
                    <p id="notification0_title" class="notification_title">Title</p>
                    <p id="notification0_text" class="notification_text">Message</p>
                </div>

                <div class="notification_close">
                    <span id="notification0_close" class="symbols"> &#xe5cd; </span>
                </div>
            </div>
        </aside>

        <aside id="notification1" class="notifications notification-inactive">
            <div class="notification_content">
                <div class="notification_icon">
                    <span id="notification1_icon" class="symbols"> &#xe002; </span>
                </div>

                <div class="notification_main">
                    <p id="notification1_title" class="notification_title">Title</p>
                    <p id="notification1_text" class="notification_text">Message</p>
                </div>

                <div class="notification_close">
                    <span id="notification1_close" class="symbols"> &#xe5cd; </span>
                </div>
            </div>
        </aside>

        <aside id="notification2" class="notifications notification-inactive">
            <div class="notification_content">
                <div class="notification_icon">
                    <span id="notification2_icon" class="symbols"> &#xe002; </span>
                </div>

                <div class="notification_main">
                    <p id="notification2_title" class="notification_title">Title</p>
                    <p id="notification2_text" class="notification_text">Message</p>
                </div>

                <div class="notification_close">
                    <span id="notification2_close" class="symbols"> &#xe5cd; </span>
                </div>
            </div>
        </aside>



        <aside id="main_data_window_production_clone" class="main_data_window_data_clone">
            <div class="main_data_window_production_clone">
                <div id="production_time_clone" class="main_data_window_production_column">
                    <p>Time</p>
                    <p>--:--:--</p>
                </div>

                <div id="production_worker_clone" class="main_data_window_production_column">
                    <p>Worker</p>
                    <p>-</p>
                </div>

                <div id="production_produced_clone" class="main_data_window_production_column">
                    <p>Produced</p>
                    <p>0</p>
                </div>

                <div id="production_accepted_clone" class="main_data_window_production_column">
                    <p>Accepted</p>
                    <p>0</p>
                </div>

                <div id="production_reworked_clone" class="main_data_window_production_column">
                    <p>Reworked</p>
                    <p>0</p>
                </div>

                <div id="production_defective_clone" class="main_data_window_production_column">
                    <p>Defective</p>
                    <p>0</p>
                </div>

                <div id="production_contaminated_clone" class="main_data_window_production_column">
                    <p>Contaminated</p>
                    <p>0</p>
                </div>

                <div id="production_adjust_clone" class="main_data_window_production_column">
                    <p>Adjust</p>
                    <p>0</p>
                </div>
            </div>
        </aside>

        <script src="/Static/jquery.js"></script>
        <script src="/Static/chart.js"></script>
        <script src="/Static/template.js"></script>
        <script src="/Static/home/script.js"></script>
		
	</body>
</html>