/* -------------------------------------------------- CONSTANTS */
:root{
    /* Transitions */
    --transition-duration: 0.5s;
    --transition-ease: ease-in-out;

    /* Backgorunds */
    --background-color  : black;
    --content-color     : rgb(23, 26, 27);
    --subcontent-color  : rgb(34 38 39);
    --floatcontent-color: #454647;
    --transparent-color : #00000070;

    /* Scrooll bar */
    --scroll-bg-color   : #555;
    --scroll-hover-color: #999999;

    --border-color        : #000000;
    --border-active-color : #ffffff;

    --hover-color       : rgb(75, 75, 75);
    --active-color      : rgb(75 75 75 / 50%);

    --input-background-color    : rgb(52 52 52 / 50%);
    --input-focusbg-color       : rgb(52 52 52 / 100%);
    --input-text-color          : #d4d4d4d1;
    --input-error-color         : rgb(186 42 16);

/* ----- Button */
    --button-background-color   : #444444;
    --button-text-color         : white;
    --button-enabled-hover      : #c7e7ff7a;
    --button-enabled-border     : #25a0faa6;
    --button-enabled-shadow     : #25a0facc;
    --button-disabled-hover     : #f8dada78;
    --button-disabled-border    : #fa2525a6;
    --button-disabled-shadow    : #fa2525e8;

    --tittle-color      : rgba(210, 210, 215, 0.8);
    --subtittle-color   : rgba(210, 210, 215, 0.6);
    --supertext-color   : rgba(210, 210, 215, 0.4);
    --text-color        : rgba(210, 210, 215, 0.2);

    --text-color-ok     : #1fa674;
    --text-color-bad    : #a69521;

    --color-white       : #cbcbcb;
    --color-blue        : #2782e9;
    --color-green       : #199a19;
    --color-yellow      : #a6a603;
    --color-red         : #a61717;

    /* Text size */
    --supertitle-size   : 3vh;
    --title-size        : 2.5vh;
    --subtitle-size     : 2.2vh;
    --supertext-size    : 1.9vh;
    --text-size         : 1.6vh;
}

.light-mode-variables {
    --background-color  : white;
    --content-color     : #c2c2c2;
    --subcontent-color  : rgb(167, 167, 167);
    --floatcontent-color: #959595;
    --transparent-color : #ffffff70;

    --scroll-bg-color   : #999;
    --scroll-hover-color: #777;

    --border-color        : black;
    --border-active-color : black;

    --hover-color      : rgb(167, 167, 167);
    --active-color      : rgb(167 167 167 / 41%);

    --input-background-color    : rgb(76 76 76 / 20%);
    --input-focusbg-color       : rgb(76 76 76 / 40%);
    --input-text-color          : #616161;
    --input-error-color         : rgb(255 38 0);

/* ----- Button */
    --button-background-color   : #e8e8e8;
    --button-text-color         : black;
    --button-enabled-hover      : #c7e7ff7a;
    --button-enabled-border     : #25a0faa6;
    --button-enabled-shadow     : #25a0facc;
    --button-disabled-hover     : #f8dada78;
    --button-disabled-border    : #fa2525a6;
    --button-disabled-shadow    : #fa2525e8;


    --tittle-color      : black;
    --subtittle-color   : #525252;
    --supertext-color   : #484747;
    --text-color        : rgb(108 108 108);

    --text-color-ok     : #167c56;
    --text-color-bad    : #80731a;

    --color-white       : #ffffff;
    --color-blue        : #1ea0f6;
    --color-green       : #00a600;
    --color-yellow      : #dcdc00;
    --color-red         : #c30000;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--scroll-bg-color);
    transition: background-color var(--transition-duration) var(--transition-ease);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-hover-color);
}

@keyframes flip {
    from { transform: rotate(0deg);}
    to { transform: rotate(-360deg);}
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    /* src: url("/static/base/symbols.woff2") format("woff2"); */
    src: url("https://didag.net/resources/symbols.woff2") format("woff2");
}

.symbols {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    height: 100vh;

    font-family: 'Arial';
    color: var(--text-color);
    user-select: none;

    background-color: var(--background-color);
    opacity: 1;
    overflow-x: hidden;
    
    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        color var(--transition-duration) var(--transition-ease),
        opacity var(--transition-duration) var(--transition-ease);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* -------------------------------------------------- HEADER */

.header {
    height: 4vh;
    width: 100%;
    
    background-color: var(--content-color);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    transition: background-color var(--transition-duration) var(--transition-ease);
}

.header_wh {
    color: var(--tittle-color);
    font-size: var(--supertitle-size);

    transition: color var(--transition-duration) var(--transition-ease);
}

.header_re {
    color: var(--input-error-color);
    font-size: 3.2vh;
}

/* -------------------------------------------------- MAIN */

main {
    height: 92vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
}

/* ---------------------------------------- MAIN INPUT */
.main_data_schedule_input .input_label {
    height: 15%;
}

.input_label {
    height: 30%;
    width: 100%;

    white-space: nowrap;
    
    font-size: var(--subtitle-size);
    color: var(--subtittle-color);

    cursor: pointer;
    margin-bottom: 5px;
}

.input {
    height: 40%;
    width: 100%;
    
    font-size: var(--text-size);
    color: var(--input-text-color);
    white-space: nowrap;
    
    background-color: var(--input-background-color);
    border-radius: 5px;
    border: 1px solid transparent;
    padding-inline: 10px;

    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        border-color var(--transition-duration) var(--transition-ease),
        box-shadow var(--transition-duration) var(--transition-ease),
        width var(--transition-duration) var(--transition-ease),
        opacity var(--transition-duration) var(--transition-ease);
}

.input:placeholder {
    font-size: var(--text-size);
}

.input_bad {
    border-color: var(--color-red);
    box-shadow: 0 0 10px rgba(177, 30, 30, 0.5);
}

.input:focus:not(.input_bad){
    border-color: var(--color-blue);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.main_data_schedule_input .input_error {
    height: 20%;
}

.input_error {
    height: 30%;
    width: 100%;

    font-size: var(--text-size);
    color: var(--input-error-color);

    padding-top: 5px;
    display: none;
    opacity: 0;

    transition:
        opacity var(--transition-duration) var(--transition-ease),
        display var(--transition-duration) var(--transition-ease);
}

.input_error-active {
    opacity: 1;
    display: block;
}

/* ---------------------------------------- MAIN TIME INPUT */

.input_time {

    height: 40%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

}

.input_time select {
    height: 100%;
    width: 30%;
    max-width: 200px;

    font-size: var(--text-size);
    color: var(--input-text-color);
    white-space: nowrap;
    
    background-color: var(--input-background-color);
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;

    margin-right: 10px;

    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        border-color var(--transition-duration) var(--transition-ease),
        box-shadow var(--transition-duration) var(--transition-ease),
        width var(--transition-duration) var(--transition-ease),
        opacity var(--transition-duration) var(--transition-ease);
}

.input_time select:focus {
    border-color: var(--color-blue);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input_time select option {
    background-color: var(--content-color);
    font-size: var(--text-size);
}

.input_time select option:disabled {
    background-color: var(--subcontent-color);
}

.input_time button {
    height: 100%;
    width: 10%;
    max-width: 40px;

    font-size: var(--text-size);
    color: var(--input-text-color);
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--input-background-color);
    border-radius: 5px;
    border: 1px solid transparent;

    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        border-color var(--transition-duration) var(--transition-ease),
        box-shadow var(--transition-duration) var(--transition-ease),
        width var(--transition-duration) var(--transition-ease),
        opacity var(--transition-duration) var(--transition-ease);
}

.input_time button:hover {
    border-color: var(--color-blue);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input_time button:focus {
    border-color: var(--color-blue);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* ---------------------------------------- MAIN BUTTON */

.button {
    height: 70%;
    max-height: 30px;
    width: 200px;

    font-size: var(--text-size);
    color: var(--button-text-color);
    white-space: nowrap;

    background-color: var(--button-background-color);
    border-radius: 5px;
    border: 1px solid transparent;

    overflow: hidden;
    opacity: 1;
    
    cursor: pointer;

    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        border-color var(--transition-duration) var(--transition-ease),
        box-shadow var(--transition-duration) var(--transition-ease),
        width var(--transition-duration) var(--transition-ease),
        opacity var(--transition-duration) var(--transition-ease);
}

.button:hover {
    background-color: var(--button-enabled-hover);
    border-color: var(--button-enabled-border);
    box-shadow: 0 0 5px var(--button-enabled-shadow);
}

.button:focus {
    background-color: var(--button-enabled-hover);
    border-color: var(--button-enabled-border);
    box-shadow: 0 0 5px var(--button-enabled-shadow);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: var(--button-disabled-hover);
    border-color: var(--button-disabled-border);
    box-shadow: 0 0 5px var(--button-disabled-shadow);
}

/* -------------------------------------------------- MAIN FOOTER*/

footer {
    height: 4vh;
    width: 100%;
    
    font-size: var(--supertitle-size);
    color: var(--tittle-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--content-color);
    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        color var(--transition-duration) var(--transition-ease);
}

/* -------------------------------------------------- SESSION */

.prompt_session {
    height: 100vh;
    width: 100%;

    position:absolute;
    left: 0;
    top:0;

    display: none;
    
    z-index: 40;
    backdrop-filter: blur(2px);
    background-color: var(--transparent-color);
    overflow: hidden;
}

.session_content {
    height: 60vh;
    width: 350px;

    position:absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--content-color);
    border-radius: 5px;

    transition: width 0.5s ease;
}

/* ----------------------------------- SESSION HEADER */

.session_header {
    height: 7%;
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content:end;
}

.session_header span {
    font-size: 3vh;
    border-radius: 5px;
    transition: 
        background-color 0.3s ease,
        color 0.3s ease;
}

.session_header span:hover {
    color:#a1a1a1;
    background-color: var(--button-enabled-hover);
    cursor: pointer;
}

/* ----------------------------------- SESSION MAIN */

.session_main {
    height: 86%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.session_main_message {
    height: 5%;
    width: 100%;

    font-size: var(--subtitle-size);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    transition: color var(--transition-duration) var(--transition-ease);
}

.session_main_icon {
    height: 30%;
    width: 100%;

    font-size: 15vh;
    color: var(--tittle-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.session_main_nav {
    height: 10%;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.session_main_nav_option {
    height: 100%;
    width: 100%;
    
    font-size: 3.5vh;
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-bottom: 0.4vh solid transparent;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;

    transition:
        color 0.5s ease,
        border 0.5s ease;
}

.session_main_nav_option-active {
    color: var(--tittle-color);
    border-color: var(--tittle-color);
}

.session_main_nav_option:not(.session_main_nav_option-active):hover {
    color: var(--supertext-color);
}

.session_main_forms {
    height: 55%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.session_main_form {

    height: 100%;
    width: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    overflow: hidden;
    opacity: 0;

    transition:
        opacity 0.7s ease;
    
}

.session_main_form-active {
    width: 100%;
    opacity: 1;
}

.session_main_form_inputs {

    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.session_main_form_input {

    height: 40%;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.session_main_form_button {

    height: 20%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

/* ----------------------------------- SESSION FOOTER */

.session_footer {
    height: 7%;
    width: 100%;

    font-size: var(--subtitle-size);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.session_footer_spinner {
    height: 100%;

    display: none;

    animation: flip 1s linear infinite;
    overflow: hidden;

    transition: width var(--transition-duration) var(--transition-ease);
}

.session_footer_spinner-active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.session_footer_message {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 5px;
    overflow: hidden;

    transition: color var(--transition-duration) var(--transition-ease);
}

.session_footer-ok {
    color: var(--text-color-ok);
}

.session_footer-bad {
    color: var(--text-color-bad);
}