/* -------------------------------------------------- MAIN */

.main_container {
    height: 96%;
    width: 98%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: var(--content-color);
}