/* --------------------------------------------- MAIN MENU */

.main_menu_ghost {
    height: 98%;
    width: 12%;
    
    color: var(--subtittle-color);
    
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;

    transition:
        background-color var(--transition-duration) var(--transition-ease),
        width var(--transition-duration) var(--transition-ease);
}

.main_menu {
    height: 100%;
    width: 100%;
    
    color: var(--subtittle-color);
    
    background-color: var(--content-color);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    z-index: 30;
    left: 0;
    overflow: hidden;

    transition:
        width var(--transition-duration) var(--transition-ease),
        position var(--transition-duration) var(--transition-ease),
        background-color var(--transition-duration) var(--transition-ease),
        border-color var(--transition-duration) var(--transition-ease), 
        color var(--transition-duration) var(--transition-ease);
}

.main_menu-hover {
    width: 50vw;

    left: 0;
    border-right: 1px solid var(--background-color);
}

.main_menu span, .main_menu p {
    transition: width var(--transition-duration) var(--transition-ease);
}

/* ----------------------------------- MAIN MENU HEADER */

.main_menu_tittle {
    height: 5%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    cursor: pointer;
    border-radius: 5px;

    transition: background-color var(--transition-duration) var(--transition-ease);
}

.main_menu_tittle span {
    height: 100%;
    width: 25%;

    font-size: var(--title-size);

    display: flex;
    align-items: center;
    justify-content: center;
}

.main_menu_tittle p {
    height: 100%;
    width: 70%;

    font-size: var(--title-size);

    display: flex;
    align-items: center;
    overflow: hidden;
}

/* ----------------------------------- MAIN MENU COMPANY */

.main_menu_company {
    height: 8%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    transition: border-color var(--transition-duration) var(--transition-ease);
}

.main_menu_company_logo {
    height: 100%;
    width: 25%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}

.main_menu_company_logo_ {
    height: 30%;
}

.main_menu_company_logo img {
    height: 100%;
    width: 100%;

    object-fit: contain;
}

.main_menu_company p {
    height: 100%;
    width: 70%;

    font-size: var(--supertext-size);

    display: flex;
    align-items: center;

    overflow: hidden;
}

/* ----------------------------------- MAIN MENU SESSION */

.main_menu_session {
    height: 5%;
    width: 100%;

    font-size: var(--supertext-size);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 5px;
    cursor: pointer;

    transition: background-color var(--transition-duration) var(--transition-ease);
}

.main_menu_session:hover {
    background-color: var(--hover-color)
}

.main_menu_session span {
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition:
        width var(--transition-duration) var(--transition-ease),
        transform var(--transition-duration) var(--transition-ease);
}

.main_menu_session p {
    height: 100%;
    width: 70%;
    
    white-space: nowrap;
    
    display: flex;
    justify-content: left;
    align-items: center;

    overflow: hidden;
}

.main_menu_session-logout {
    transform: rotate(180deg);
}

/* ----------------------------------- MAIN MENU WINDOWS */

.main_menu_windows {
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    overflow: hidden;
    transition: overflow var(--transition-duration) var(--transition-ease);

    transition:
        border-color var(--transition-duration) var(--transition-ease);
}

.main_menu_window {
    height: 8%;
    width: 100%;

    font-size: var(--supertext-size);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    cursor: pointer;
    border-radius: 5px;

    transition:
        opacity 0.2s ease,
        background-color var(--transition-duration) var(--transition-ease);
}

.main_menu_window-active {
    background-color: var(--hover-color);
}

.main_menu_window-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.main_menu_window:hover {
    background-color: var(--hover-color);
}

.main_menu_window-active {
    background-color: var(--active-color);
}

.main_menu_window-disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.main_menu_window span {
    height: 100%;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu_window p {
    height: 100%;
    width: 70%;

    white-space: nowrap;
    overflow: hidden;

    display: flex;
    align-items: center;
}

/* ----------------------------------- MAIN MENU FUNCTIONS */

.main_menu_functions {
    height: 22%;
    width: 100%;

    font-size: var(--supertext-size);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main_menu_functions span {
    height: 100%;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu_function_flip {
    animation: flip 1s linear infinite;
}

.main_menu_functions p {
    height: 100%;
    width: 70%;

    display: flex;
    justify-content: left;
    align-items: center;
    
    white-space: nowrap;
    overflow: hidden;
}

.main_menu_function_theme,
.main_menu_function_sync,
.main_menu_function_state {
    height: 23%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 5px;

    transition:
        background-color var(--transition-duration) var(--transition-ease);
}

.main_menu_function_theme,
.main_menu_function_sync,
.main_menu_function_state {
    cursor: pointer;
}

.main_menu_function_theme:hover {
    background-color: var(--hover-color);
}

.main_menu_function_sync:hover {
    background-color: var(--hover-color);
}

.main_menu_function_state:hover {
    background-color: var(--hover-color);
}

.main_menu_function_theme_light, .main_menu_function_theme_dark {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    overflow: hidden;

    transition: width var(--transition-duration) var(--transition-ease);
}

.main_menu_function_theme span, .main_menu_function_theme p {
    overflow: hidden;
}

.main_menu_function_theme_light {
    width: 0%;
}

.main_menu_function_theme_dark {
    width: 100%;
}

/* --------------------------------------------- MAIN DATA */

.main_data {
    height: 98%;
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--content-color);
    padding: 5px;

    transition: background-color var(--transition-duration) var(--transition-ease);
}

.main_data_window {
    height: 0%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: hidden;

    opacity: 0;

    transition: opacity var(--transition-duration) var(--transition-ease);
}

.main_data_window-active {
    height: 100%;
    opacity: 1;
}

.main_data_window_header {
    height: 8%;
    width: 100%;

    font-size: var(--supertitle-size);
    color: var(--tittle-color);

    display: flex;
    align-items: center;

    border-bottom: 2px solid var(--tittle-color);

    transition: border-color var(--transition-duration) var(--transition-ease), color var(--transition-duration) var(--transition-ease);
}

.main_data_window_form {
    height: 92%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_data_window_inputs {
    height: 92%;
    width: 100%;

    scrollbar-gutter: stable;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.main_data_window_input {
    height: 30%;
    max-height: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

    scroll-snap-align: start;
    padding-inline: 10px;
    padding-top: 10px;
}

.main_data_window_button {
    height: 8%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main_data_window_main {
    height: 82%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_data_window_footer {
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------- MAIN DATA SYSTEM */

.main_data_window_system {
    height: 92%;
    width: 100%;

    scrollbar-gutter: stable;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.main_data_window_subtitle {
    height: 10%;
    width: 100%;

    font-size: var(--subtitle-size);
    color: var(--subtittle-color);

    display: flex;
    align-items: center;
    justify-content: left;
    scroll-snap-align: start;

    padding-block: 10px;
    padding-left: 10px;
}

.main_data_window_text {
    height: 5%;
    width: 100%;

    font-size: var(--supertext-size);
    color: var(--supertext-color);

    display: flex;
    align-items: center;
    justify-content: left;
    scroll-snap-align: start;

    padding-left: 20px;
}

.main_data_window_indicator {
    width: 100%;

    font-size: var(--supertext-size);
    color: var(--subtittle-color);

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--subcontent-color);
    border-radius: 5px;
    padding-block: 10px;
}

.ecuation {
    height: 30%;
    width: 90%;

    font-size: var(--title-size);
    font-style: italic;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    padding-bottom: 20px;
    overflow: hidden;
}

#result {
    white-space: nowrap;
    padding-right: 10px;
}

.divition p {
    font-style: italic;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divition p:first-child {
    border-bottom: solid 0.2vh var(--subtittle-color);
}

.divition sup {
    padding-inline: 2px;
    padding-bottom: 8px;
}

.indicator_description {
    height: 70%;
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.var_description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding-block: 4px;
}

.var_description p {
    white-space: nowrap;
    padding-inline: 5px;
    overflow: hidden;
}

.var_description p:first-child {
    width: 20px;
}

/* ----------------------------------- MAIN DATA SCHEDULES */

.main_data_schedule_input {
    height: 20%;
    max-height: 120px;
    width: 100%;

    padding: 10px;
}

.schedule_options {
    height: 40%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.schedule_option_enable {
    height: 100%;

    display: flex;
    align-items: center;
    
    padding-right: 20px;
}

.schedule_option_enable label {
    font-size: var(--supertext-size);
    color: var(--supertext-color);
    padding-left: 5px;
}

.schedule_option_action {
    height: 100%;

    display: flex;
    align-items: center;
}

.schedule_option_action label {
    font-size: var(--supertext-size);
    color: var(--supertext-color);
    padding-right: 5px;
}

.schedule_option_action select {
    font-size: 2.1vh;
    width: 100px;

    font-size: var(--text-size);
    color: var(--input-text-color);
    white-space: nowrap;
    
    background-color: var(--input-background-color);
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;

    margin-right: 10px;

    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        border-color var(--transition-duration) var(--transition-ease),
        box-shadow var(--transition-duration) var(--transition-ease),
        width var(--transition-duration) var(--transition-ease),
        opacity var(--transition-duration) var(--transition-ease);
}

.schedule_option_action select:focus {
    border-color: var(--color-blue);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.schedule_option_action select option {
    background-color: var(--content-color);
    font-size: var(--text-size);
}

.schedule_option_action select option:disabled {
    background-color: var(--subcontent-color);
}

.main_data_week_input {
    height: 20%;
    max-height: 70px;
    width: 100%;
    max-width: 700px;

    padding: 10px;
}

.week_checkboxes {
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.week_checkbox {
    height: 100%;
    width: 14%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.week_checkbox input {
    display: none;
}

.week_checkbox label {
    height: 80%;
    width: 70%;

    font-size: var(--supertext-size);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--input-background-color);
    border-radius: 5px;
    cursor: pointer;
}

#day_0:checked + .week_label {
    background-color: var(--button-background-hover);
}
#day_1:checked + .week_label {
    background-color: var(--button-background-hover);
}
#day_2:checked + .week_label {
    background-color: var(--button-background-hover);
}
#day_3:checked + .week_label {
    background-color: var(--button-background-hover);
}
#day_4:checked + .week_label {
    background-color: var(--button-background-hover);
}
#day_5:checked + .week_label {
    background-color: var(--button-background-hover);
}
#day_6:checked + .week_label {
    background-color: var(--button-background-hover);
}

/* ----------------------------------- MAIN DATA CODEs */

.main_data_window_codes {
    height: 92%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: hidden;
}

.main_data_window_codes_list {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 10px;
}

.main_data_window_codes_title {
    height: 15%;
    width: 100%;

    font-size: var(--title-size);
    color: var(--subtittle-color);

    display: flex;
    align-items: center;
    justify-content: left;

    padding-block: 10px;
    padding-left: 10px;
}

.main_data_window_codes_subtitle {
    height: 15%;
    width: 100%;

    font-size: var(--title-size);
    color: var(--tittle-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    background-color: var(--subcontent-color);
    border-bottom: 1px solid var(--subtittle-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-block: 10px;
    padding-left: 10px;
}

.main_data_window_codes_content {
    height: 70%;
    width: 100%;

    font-size: var(--title-size);
    color: var(--subtittle-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: auto;
    scrollbar-gutter: stable;
    scroll-snap-type: y mandatory;

    background-color: var(--subcontent-color);
    padding-inline: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main_data_window_codes_item {
    height: 10%;
    width: 100%;

    font-size: var(--title-size);
    color: var(--tittle-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    scroll-snap-align: start;
    padding-block: 20px;
}

.main_data_window_codes_code {
    height: 10%;
    width: 25%;
    max-width: 150px;

    font-size: var(--supertext-size);

    display: flex;
    align-items: center;
}

.main_data_window_codes_name {
    height: 10%;
    width: 75%;
    max-width: 450px;

    font-size: var(--supertext-size);

    display: flex;
    align-items: center;
}

/* ------------------------------------------------------------ MAIN / DATA / CODES */

.data_codes {
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    opacity: 1;
    transition: 
        height var(--transition-duration) var(--transition-ease),
        opacity 1s var(--transition-ease);
}

.data_codes_inputs {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2px;
}

.data_codes_inputs_tittle {
    height: 5%;
    font-size: 3vh;
    color: var(--subtittle-color);
    display: flex;
    align-items: center;
    transition: color var(--transition-duration) var(--transition-ease);
}

.data_codes_inputs_subtittle {
    height: 5%;
    font-size: 2.2vh;
    color: var(--supertext-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition:
        color var(--transition-duration) var(--transition-ease),
        border var(--transition-duration) var(--transition-ease);
    
}

.data_codes_inputs_subtittle_code {
    width: 20%;
}

.data_codes_inputs_subtittle_name {
    width: 40%;
}

.data_code_default {
    height: 35%;
    background-color: var(--subcontent-color);
    border-radius: 10px;
    padding-inline:10px;
    overflow: auto;
    transition: background-color var(--transition-duration) var(--transition-ease);
}

.code_default {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.code {
    height: 70%;
    width: 20%;
    font-size: 2vh;
    display: flex;
    align-items: center;
}

.name {
    height: 70%;
    width: 40%;
    font-size: 2vh;
    display: flex;
    align-items: center;
}

.data_code_editable {
    height: 35%;
    background-color: var(--subcontent-color);
    border-radius: 10px;
    padding-inline:10px;
    overflow: auto;
    transition: background-color var(--transition-duration) var(--transition-ease);
}

.code_editable {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.editable_name {
    height: 70%;
    width: 40%;
    font-size: 2vh;
    color: var(--input-text-color);
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        color var(--transition-duration) var(--transition-ease),
        width var(--transition-duration) var(--transition-ease);
}

.editable_name:hover {
    background-color: var(--input-background-color);
}

.editable_name:focus {
    background-color: var(--input-background-color);
}

.editable_error {
    height: 70%;
    font-size: 1.5vh;
    color: var(--input-error-color);
    display: flex;
    align-items: center;
    padding-inline:5px;
    opacity:0;
    transition: opacity var(--transition-duration) var(--transition-ease);
}

/* ------------------------------------------------------------ MAIN / DATA / NETWORK */

.data_network {
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    opacity: 0;
    transition: 
        height var(--transition-duration) var(--transition-ease),
        opacity 1s var(--transition-ease);
}

.data_network_inputs {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2px;
}

.data_network_state {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.data_network_state_tittle {
    height: 20%;
    font-size: 3vh;
    color: var(--subtittle-color);
    transition: color var(--transition-duration) var(--transition-ease);
}

.data_network_state_info {
    height: 70%;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5px;
}

.data_network_config {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.data_network_config_tittle {
    height: 10%;
    font-size: 3vh;
    color: var(--subtittle-color);
    display: flex;
    align-items: center;
    transition: color var(--transition-duration) var(--transition-ease);
}

.data_network_config_info {
    height: 20%;
    font-size: 2.1vh;
    display: flex;
    align-items: center;
}

.data_network_ipconfig {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.data_network_ipconfig_checkbox {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}

.data_network_ipconfig_checkbox input {
    height: 2vh;
}

.data_network_ipconfig_checkbox label {
    font-size: 2vh;
    padding-inline: 5px;
    cursor: pointer;
}

.data_network_ipconfig_input {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.2;
    transition: opacity var(--transition-duration) var(--transition-ease);
}

.data_network_ipconfig_label {
    height: 80%;
    width: 40%;
    font-size: 2vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 
        width var(--transition-duration) var(--transition-ease);
}

.data_network_ipconfig_input span {
    font-size: 2vh;
    color: var(--input-error-color);
    opacity: 1;
    transition: opacity var(--transition-duration) var(--transition-ease);
}

.data_network_ipconfig_address {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 
        width var(--transition-duration) var(--transition-ease);
}

.data_network_ipconfig_address input {
    height: 2.8vh;
    width: 10%;
    font-size: 2vh;
    color: var(--input-text-color);
    background-color: var(--input-background-color);
    border-radius: 5px;
    padding-left: 2px;
    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        color var(--transition-duration) var(--transition-ease),
        width var(--transition-duration) var(--transition-ease);
}

.data_network_ipconfig_address p {
    height: 2.8vh;
    width: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------------------------ MAIN / DATA / SERVER */

.data_server {
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    opacity: 0;
    transition: 
        height var(--transition-duration) var(--transition-ease),
        opacity 1s var(--transition-ease);
}

.data_server_inputs {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2px;
}

.data_server_local {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.data_server_local_tittle {
    height: 20%;
    font-size: 3vh;
    color: var(--subtittle-color);
    transition: color var(--transition-duration) var(--transition-ease);
}

.data_server_local_info {
    height: 50%;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5px;
}

.data_server_state {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.data_server_state_tittle {
    height: 20%;
    font-size: 3vh;
    color: var(--subtittle-color);
    transition: color var(--transition-duration) var(--transition-ease);
}

.data_server_state_info {
    height: 70%;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5px;
}

.data_server_state_info p:last-of-type {
    padding-bottom: 15px;
}

.data_server_state_info button {
    height: 20%;
    width: 15%;
    font-size: 1.7vh;
    color: var(--subtittle-color);
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        border-color var(--transition-duration) var(--transition-ease),
        color var(--transition-duration) var(--transition-ease),
        width var(--transition-duration) var(--transition-ease);
}

.data_server_state_info button:hover {
    color: var(--button-text-hover);
    background-color: var(--button-background-hover);
    border-color: var(--button-border-hover);
}

.data_server_state_info button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.data_server_state_info button:disabled:hover {
    color: var(--subtittle-color);
    background-color: var(--button-background-color);
}

.data_server_config {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.data_server_config_tittle {
    height: 15%;
    font-size: 3vh;
    color: var(--subtittle-color);
    transition: color var(--transition-duration) var(--transition-ease);
}

.data_server_ipconfig {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.data_server_ipconfig_checkbox {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}

.data_server_ipconfig_checkbox input {
    height: 2vh;
}

.data_server_ipconfig_checkbox label {
    font-size: 2vh;
    padding-inline: 5px;
    cursor: pointer;
}

.data_server_ipconfig div:first-child {
    padding-bottom: 30px;
}

.data_server_ipconfig_input {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.2;
    transition: opacity var(--transition-duration) var(--transition-ease);

}

.data_server_ipconfig_label {
    height: 100%;
    width: 40%;
    font-size: 2vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 
        width var(--transition-duration) var(--transition-ease);
}

.data_server_ipconfig_input span {
    font-size: 2vh;
    color: var(--input-error-color);
    opacity: 0;
    transition: opacity var(--transition-duration) var(--transition-ease);
}

.data_server_ipconfig_address {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 
        width var(--transition-duration) var(--transition-ease);
}

.data_server_ipconfig_address input {
    height: 2.5vh;
    width: 10%;
    font-size: 2vh;
    color: var(--input-text-color);
    background-color: var(--input-background-color);
    border-radius: 5px;
    padding-left: 2px;
    transition: 
        background-color var(--transition-duration) var(--transition-ease),
        color var(--transition-duration) var(--transition-ease),
        width var(--transition-duration) var(--transition-ease);
}

#server_port {
    width: 20%;
}

.data_server_ipconfig_address p {
    height: 2.8vh;
    width: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------- PRINT */

.prompt_print {
    width: 100%;
    height: 100vh;
    position:absolute;
    left: 0;
    top:0;
    display: none;
    z-index: 10;
    background-color: rgb(1 1 1 / 70%);
    overflow: hidden;
}

.prompt_print_content {
    height: 20%;
    width: 30%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--content-color);
    border-radius: 5px;
    transition: 
        width 0.2s var(--transition-ease),
        height 0.2s var(--transition-ease);
}

.prompt_print_tittle {
    height: 20%;
    width: 90%;
    font-size: 3vh;
    color: var(--tittle-color);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.prompt_print_message {
    height: 70%;
    width: 90%;
    font-size: 2vh;
    color: var(--text-color);
    text-align: left;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* -------------------------------------------------- STATE */

.prompt_state {
    height: 4.5vh;
    width: 350px;
    
    position:absolute;
    left: 14vw;
    top: 89vh;
    
    display: none;
    
    z-index: 1;
    transition:
        width var(--transition-duration) var(--transition-ease);
}

.prompt_state_content {
    height: 100%;
    width: 100%;
    
    font-size: var(--supertext-size);
    color: var(--tittle-color);
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: var(--floatcontent-color);
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    
    transition: 
        color var(--transition-duration) var(--transition-ease),
        background-color var(--transition-duration) var(--transition-ease);
}

/* -------------------------------------------------- SYNC */

.prompt_sync {
    height: 4.5vh;
    width: 200px;
    
    position:absolute;
    left: 14vw;
    top: 82.9vh;
    
    display: none;
    
    z-index: 1;
    transition:
        width var(--transition-duration) var(--transition-ease);
}

.prompt_sync_content {
    height: 100%;
    width: 100%;
    
    font-size: var(--supertext-size);
    color: var(--tittle-color);
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: var(--floatcontent-color);
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    
    transition: 
        color var(--transition-duration) var(--transition-ease),
        background-color var(--transition-duration) var(--transition-ease);
}

/* -------------------------------------------------- MEDIA */

@media (max-width: 800px) {

    /* --------------------------------------------- MAIN MENU */
    .main_menu_ghost {
        width: 10%;
    }

    .main_menu_tittle:hover {
        background-color: var(--hover-color);
    }

    .main_menu span {
        width: 100%;
    }

    .main_menu p {
        width: 0%;
    }

    /* --------------------------------------------- MAIN DATA */

    .data_button button {
        width: 50%;
    }
    .data_schedules_input_extra select {
        width: 20%;
    }
    .data_schedules_week_input {
        width: 12%;
        font-size: 1.8vh;
    }
    .name {
        width: 70%;
    }
    .editable_name {
        width: 70%;
    }
    .data_network_config_info {
        font-size: 1.7vh;
    }
    .data_network_ipconfig_address input {
        width: 22%;
    }
    .data_network_ipconfig_address p {
        width: 4%;
    }
    .data_server_state_info button {
        width: 30%;
    }
    .data_server_ipconfig_address input {
        width: 22%;
    }
    #server_port {
        width: 40%;
    }
    .data_server_ipconfig_address p {
        width: 4%;
    }

    /* -------------------------------------------------- SESSION */
    /* .prompt_content {
        width: 75%;
    } */

    /* -------------------------------------------------- PRINT */
    /* .prompt_print_content {
        width: 70%;
    } */

}
